.input-wrapper {
  margin-bottom: 16px;
  .label {
    margin: 0px;
    margin-bottom: 6px;
    font-family: "Rubik";
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: #4f5665;
  }

  input {
    border: 1px solid grey;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    width: 80%;
    box-sizing: border-box;
  }
}
