@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;800;900&family=Rubik:wght@300;400;800&display=swap');

a {
  text-decoration: none;
  color: #4f5665
}

.link {
  flex: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
  align-items: center;
  justify-content: center;
  
}

.body-home{
    background-color: #BCBABA;
}

.header-home {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 100px;
  max-width: 1440px;
  margin: auto;
}

.left-header {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex: 1;
  align-items: center;
  justify-content: center;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #0b132a;
}
.coffeeshop {
  margin: 10px;
}

.center-header {
  flex: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
  align-items: center;
  justify-content: center;
}

.right-header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.form-outline{
    max-width: fit-content;
    margin-top: -28%;
    margin-left: 80%;
}

.icon-profile-img {
  display: flex;
  margin: 7%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0 0 8px 3px #b8b8b8;
  position: relative;
}

.search-icon {
  display: flex;
  margin: 7%;
  width: 30px;
  height: 30px;

  position: relative;
}

.msg-icon {
  width: 30px;
  height: 30px;

  position: relative;
}

.home {
  flex: 1;
}

.product {
  flex: 1;
}

.cart {
  flex: 1;
}

.history {
  flex: 1;
}

/* header end */

/* footer start */
.footer-home {
  background-color: #eae9e9;
  display: flex;
  max-width: 1440px;
  margin: auto;
  height: 500px;
  margin-top: -5%;
  border-top: #4f5665;
  z-index: 0;
}

#desc {
  margin-top: 30px;
  margin-left: 45px;
}

.about-coffe {
  flex-direction: column;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  padding-left: 100px;
  padding-top: 50px;
  text-align: left;
  margin-top: 7%;
}

.socmed {
  margin-left: -5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 575px;
  margin-top: 10%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #4f5665;
}
.engagement {
  display: flex;
  margin-left: 80px;
  margin-top: 10%;
  flex-direction: column;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #4f5665;
}
img {
  vertical-align: middle;
}
.coffeeshp {
  font-weight: bolder;
  font-size: 17px;
  /* margin-top: -10%; */
}

.coffee-desc {
  font-size: 13px;
}

.socmed-icon {
    width:35px 
}

.coffee-logo{
    width:27px;
    height:27px
}

.coffee-logos{
    width:30px;
    height:30px
}


.socmed-url {
  color: #afb5c0;
  font-size: small;
  margin-top: 0px;
}

.products {
  font-weight: bold;
}

.engage {
  font-weight: bold;
}

.download-content,
.engage-content {
  margin-top: 7%;
}
/* footer end   */

/* main start */

.jumbotron {
  height: 100vh;
}

.jumbo {
  /* background-image: url("/assets/img/homepage-pic-jumbotron.jpg"); */
  background-image:url("https://res.cloudinary.com/dwxujoxc7/image/upload/v1672139504/project2/313316905_10221263078317282_7334860416146275815_n.jpg_x6epnu.jpg");
  max-width: 1440px;
  margin: auto;
  height: 650px;
}

.button-sign-up {
  margin-left: 10%;
  margin-top: 2%;
  background-color: #ffba33;
  border-color: #ffba33;
  color: #6a4029;
}

.people-icon{
    width: 10%
}

.middle-sec {
    background-color: white;
  width: 1140px;
  height: 150px;
  margin-top: -4%;
  position: relative;
  box-shadow: -1px 3px 25px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 25px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -18px rgba(0, 0, 0, 0.75);
}

.middle-third {
  max-width: 1440px;
  height: 800px;
  background-color: #f8f8f8;
}

.numbers {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-left: 4%;
  line-height: 30px;
  color: #0b132a;
}

.number30 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-left: 5%;
  line-height: 30px;
  color: #0b132a;
}

.number800 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-left: 5%;
  line-height: 30px;
  color: #0b132a;
}

.data {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin-left: 15%;
  margin-top: -11%;
  color: #4f5665;
}

.datastore {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin-left: 20%;
  margin-top: -11%;
  color: #4f5665;
}

.datacs {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin-left: 24%;
  margin-top: -11%;
  color: #4f5665;
}

.staff {
  text-align: center;
  margin-top: 5%;
}

.stores {
  text-align: center;
  margin-top: 5%;
}
.customers {
  text-align: center;
  margin-top: 5%;
}

.good-coffee {
  /* margin-top: -4%; */
  max-width: 1440px;
  height: 500px;
}

h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  /* or 140% */
  padding: 7%;

  color: #ffffff;
}

.provide {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-top: -6%;
  margin-left: 7%;
  color: #ffffff;
}

.started {
  background-color: #ffba33 !important;
  color: #6a4029 !important;
  border-color: #ffba33 !important;
  margin-left: 7%;
}

.healthy {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  color: #0b132a;
  text-align: left;
  margin-top: 20%;
}

.todo {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4f5665;
  text-align: left;
}

.checklist {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  color: #4f5665;
}

.checkmarks {
  width: 17px;
}

.teamwork {
  margin-top: -6%;
  height: 500px;
  background-color: white
}

.quality {
  margin-top: -6%;
  height: 500px;
  background-color: rgb(255, 255, 255)
}

.techpic {
  justify-items: center;
  margin-top: 15%;
  width: 500px
}

.here {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-top: 3%;
}

.people-fav {
  margin-top: -5%;
  max-width: 1440px;
}

.yours {
  width: 1440px;
  background-color: #f8f8f8
}

.choose {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  margin-top: -1;

  text-align: center;

  color: #4f5665;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  max-width: 1440px;
  background-color: #f8f8f8;
  margin: auto;
    
}

.partner {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-align: center;

  color: #000000;
}

.hazelnutsyrup {
  margin-top: 30%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.wrap {
  margin: auto;
  height: 610px;
  width: 300px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hzl {
  margin-top: -5%;
  margin-left: -4%;
  position: absolute;
  z-index: 1;
  max-width: 8%;
  height: auto;
}

.smallcheck{
    width: 13px
}

.prod-info {
  margin-top: 10%;
  border-color: #6a4029;
  background-color: #f8f8f8
}

.visit-see {
    background-color: #f8f8f8 
}
.worldmap {
    background-color: #f8f8f8;
    max-width: 1440px;
}

.world{
    background-color: #f8f8f8; 
    /* max-width: 1440px; */
    margin-top: 5%
}

.world-pic{
    max-width: 100%;
    height: auto;
}

.hazeldesc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  text-align: left;
}

.hazel-desc {
  padding-left: 30%;
  /* background-color: #0b132a; */
}

.price25 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-top: 50%;
}

.price30 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-top: 30%;
}

.price40 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-top: 7%;
}

.visit-store {
  max-width: 1440px;
}

.visit {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-align: center;

  color: #0b132a;
}

.see {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  text-align: center;

  color: #4f5665;
}

.logo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 200px;
  margin-left: 12%;
}

.thousand {
    background-color: #f8f8f8;
    margin: auto;
    width: 1440px;
    /* height: 300px;  */
     
}

.loved {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  margin-top: 5%;

  color: #0b132a;
}

.pleasure {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  /* or 188% */

  text-align: center;

  color: #4f5665;
}

.lovedby {
  margin-top: 0%;
}


.joe-pic {
    width: 50px
}

.kim-pic{
    width: 50px
}

.review-wrap {
  background-color: #f8f8f8;
  margin: auto;
  max-width: 1440px;
}

.review2{
    background-color: #f8f8f8
}

.putin-pic{
    width: 50px
}

.review1 {
  border: yellow;
  background-color: #6a4029;
  border-radius: 8px;
}

.rusia {
  margin: auto;
  padding: 10px;
  width: fit-content;
}

.putin {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  /* or 167% */

  display: flex;
  align-items: center;

  color: #0b132a;
}
.moskwa {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: -10%;
  display: flex;
  align-items: center;

  color: #4f5665;
}

.rating2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #0b132a;
}

.rating3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #0b132a;
}

.stars2 {
  margin-top: -65%;
  width: 10px
}

.statement2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  color: #0b132a;
}

.pyongyang {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* margin-left: -9%; */
  margin-top: -10%;
  color: #4f5665;
}

.dotdot {
  background-color: #4f5665;
  margin-top: 30%;
  margin-left: 15%;
  width: 200px
}

.left-pic {
    width: 40px; 
    margin: auto;
}

.leftright{
    margin-top: 6%;
    margin-left: 50%;
}

.right-pic {
    width: 40px; 
    /* margin-top: 15%;*/
    margin-left: 5%; 
}

.navbar {
  max-width: 1440px;
  height: 300px;
  background-color: #f8f8f8;
  margin: auto;
 
}

.member-card {
  display: flex;
  box-sizing: border-box;
  position: relative;
  max-width: 1140px;
  height: 163px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-top: -28%;
  z-index: 1;
}

.member-desc {
  padding: 10px;
}

.getmember {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 200;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 7%;
  color: #0b132a;
  text-align: left;
}

.createnow {
  width: 200px;
  height: 60px;
  margin-left: 170%;
  margin-top: 20%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #ffba33;
  color: #6a4029;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  box-shadow: -1px 3px 25px -12px rgba(140, 148, 107, 0.75);
  -webkit-box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  border: none;
}



.letsjoin {
  width: 410px;
  height: 16px;
  left: 220px;
  margin-top: -25px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-left: 30px;
  margin-top: 4%;
  display: flex;
  align-items: center;
  color: #4f5665;
}

@media screen and (max-width: 768px) {
  .createnow {
    margin-left: -10%;
  }

  .wrap {
    width: fit-content;
  }   
  .price30 {
    margin-top: -5%;
  } 
  .price25 {
    margin-top: 70%;
  }
  .price40 {
    margin-top: -5%;
  }
  .kim-pic, .putin-pic, .joe-pic {
    width: 40px;
  }
 .putin {
  margin-left: 20%;
 }
 .member-card{
  margin-top: -70%;
 }
}