.footer-home {
  background-color: #F8F8F8;
  display: flex;
  max-width: 1440px;
}

.desc {
  margin-top: 7vw;
  margin-left: 9vw;
}

.about-coffe {
  flex-direction: column;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  /* padding-left: 100px;
    padding-top: 50px; */
  text-align: left;
  margin-top: 10%;
}

.socmed {
  margin-left: -5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 33vw;
  margin-top: 7.5vw;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #4f5665;
}
.engagement {
  display: flex;
  margin-left: 5vw;
  margin-top: 7.5vw;
  flex-direction: column;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
}
img {
  vertical-align: middle;
}
.coffeeshp {
  font-weight: bolder;
  font-size: 17px;
  /* margin-top: -10%; */
}

.coffee-desc {
  font-size: 13px;
}

.socmed-icon {
  width: 35px;
}

.coffee-logo {
  width: 27px;
  height: 27px;
}

.coffee-logos {
  width: 30px;
  height: 30px;
}

.socmed-url {
  color: #afb5c0;
  font-size: small;
  margin-top: 0px;
}

.products {
  font-weight: bold;
}

.engage {
  font-weight: bold;
}

.download-content,
.engage-content {
  margin-top: 7%;
}

@media screen and (max-width: 768px) {
  .product-info {
    margin-left: 10%;
    margin-top: 8%;
  }
  .engagement {
    margin-left: 15%;
    margin-top: 8%;
  }
}

@media only screen and (max-width: 375px) {
  .about-coffe{
    margin-top: 5rem;
  }
  .product-info{
    margin-top: 5rem;
  }
  .engagement{
    margin-top: 5rem;
  }
  .desc{
    margin-left: 0;
  }
}